<!-- This is standard form rendering using django widget tweaks -->
{% load widget_tweaks %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {% endfor %}
    {% endif %}
    {% for field in form.hidden_fields %}
        {% render_field field %}
    {% endfor %}
    {% for field in form.visible_fields %}
        <div class="form-group">
            {{field.label_tag}}
            {% if form.is_bound %}
                {% if field.errors %}
                    {% if field.field.widget.input_type == "file" %}
                        {% render_field field|add_class:"form-control-file is-invalid" %}
                    {% else %}
                        {% render_field field|add_class:"form-control is-invalid" %}
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{error}}</div>
                    {% endfor %}
                {% else %}
                    {% if field.field.widget.input_type == "file" %}
                        {% render_field field|add_class:"form-control-file is-valid" %}
                    {% else %}
                        {% render_field field|add_class:"form-control is-valid" %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if field.field.widget.input_type == "file" %}
                    {% render_field field|add_class:"form-control-file" %}
                {% else %}
                    {% render_field field|add_class:"form-control" %}
                {% endif %}
            {% endif %}

            {% if field.help_text %}
                <small class="form-text text-muted">{{field.help_text}}</small>
            {% endif %}
        </div>
    {% endfor %}