<!-- This is standard formset rendering using django widget tweaks with dynamic form quantity using javascript -->
{% load widget_tweaks %}

{% if formset.non_form_errors %}
    {% for e in formset.non_form_errors %}
        <div class="alert alert-danger" role="alert">{{e}}</div>
    {% endfor %}
{% endif %}
<table class="table table-bordered">
    {% for form in formset.forms %}
        {% if forloop.first %}
        <thead>
            <tr>
                <th>#</th>
                {% for field in form %}
                    {% if not field.is_hidden %}
                    <th>{{field.label}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        {% endif %}
    {% endfor %}
        <tbody id="formsetTableBody">
        {% for form in formset.forms %}
            <tr>
                <td>
                    <span>{{forloop.counter}}</span>
                    {% for field in form.hidden_fields %}
                        {% render_field field|add_class:"form-control" %}
                    {% endfor %}
                </td>
                {% for field in form.visible_fields %}
                <td>
                    {% if field.field.widget.attrs.class == 'delete-input' %}
                        {% if form.instance.id %}
                            <button type="button" class="btn btn-danger modify-button" onclick="toggle_row_input_availability()"><i class="fas fa-trash"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-success add-button" onclick="add_new_row_input()"><i class="fas fa-plus"></i></button>
                        {% endif %}
                        {% render_field field|add_class:"form-control" %}
                    {% elif form.is_bound %}
                        {% if field.errors %}
                            {% render_field field|add_class:"form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">{{error}}</div>
                            {% endfor %}
                        {% else %}
                            {% render_field field|add_class:"form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% render_field field|add_class:"form-control" %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
</table>
{{formset.management_form}}